Repository sergey-sivchenko/famcs-react-course-2023: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write --cache, eslint --fix --cache, stylelint --fix --cache, imagemin-lint-staged

docs(week-2): update readme reflecting the changes
  README.md
Due: prettier --ignore-unknown --write --cache

build(week-3): add styled-components
  .babelrc
  .stylelintrc
  .vscode/extensions.json
  README.md
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write --cache

feat(week-3): add first todo list static page
  src/App.css
  src/App.js
  src/App.test.js
  src/assets/cross.png
  src/assets/logo.svg
  src/assets/tick.png
  src/components/.gitkeep
  src/index.css
  src/index.js
  src/logo.svg
  src/pages/Main/index.js
  src/pages/Main/styled.js
  src/pages/TodoList/Item/index.js
  src/pages/TodoList/Item/styled.js
  src/pages/TodoList/index.js
  src/pages/TodoList/index.module.css
Due: prettier --ignore-unknown --write --cache, eslint --fix --cache, stylelint --fix --cache, imagemin-lint-staged

test(app): add global app test
  .eslintrc
  package-lock.json
  package.json
  src/setupTests.js
Due: prettier --ignore-unknown --write --cache, eslint --fix --cache

chore(linters): fix linters configs
  .lintstagedrc
  package.json
Due: prettier --ignore-unknown --write --cache

docs(pull-request): add pull request template
  .github/pull_request_template.md
Due: prettier --ignore-unknown --write --cache

docs(templates): update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --ignore-unknown --write --cache

chore(linters): lint both css and js
  .stylelintrc
  src/pages/TodoList/index.module.css
Due: prettier --ignore-unknown --write --cache, stylelint --fix --cache

feat(theme): add application theme
  src/App.js
  src/utils/theme/dark/index.js
  src/utils/theme/index.js
  src/utils/theme/light/index.js
Due: prettier --ignore-unknown --write --cache, eslint --fix --cache

feat(styles): move global styles to styled-components
  src/App.js
  src/index.css
  src/index.js
Due: prettier --ignore-unknown --write --cache, eslint --fix --cache, stylelint --fix --cache

build(styled-components): remove babel plugin
  .babelrc
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write --cache

feat(components): add icon button component
  package-lock.json
  package.json
  src/components/.gitkeep
  src/components/IconButton/index.js
  src/components/IconButton/styled.js
  src/utils/theme/dark/index.js
  src/utils/theme/index.js
  src/utils/theme/light/index.js
Due: prettier --ignore-unknown --write --cache, eslint --fix --cache

feat(components): add application header
  src/App.js
  src/components/Header/index.js
  src/components/Header/styled.js
  src/components/IconButton/styled.js
  src/pages/Main/index.js
  src/pages/Main/styled.js
Due: prettier --ignore-unknown --write --cache, eslint --fix --cache

feat(todo-list): add lifecycle and state examples
  src/pages/TodoList/Item/index.js
  src/pages/TodoList/index.js
Due: prettier --ignore-unknown --write --cache, eslint --fix --cache

build(dependencies): downgrade styled-components
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write --cache

test(app): improve tests setup and update the app tests
  src/App.test.js
  src/setupTests.js
  src/utils/testing/custom-render.js
  src/utils/testing/index.js
Due: prettier --ignore-unknown --write --cache, eslint --fix --cache

test(components): add IconButton tests
  src/components/IconButton/__tests__/__snapshots__/index.js.snap
  src/components/IconButton/__tests__/index.js
Due: prettier --ignore-unknown --write --cache, eslint --fix --cache

feat(todo-list): make usage of lists and keys
  src/pages/TodoList/index.js
  src/pages/TodoList/index.module.css
Due: prettier --ignore-unknown --write --cache, eslint --fix --cache, stylelint --fix --cache

feat(hooks): add custom hook example
  src/hooks/use-async/index.js
Due: prettier --ignore-unknown --write --cache, eslint --fix --cache

feat(services): add storage service
  src/services/storage/index.js
Due: prettier --ignore-unknown --write --cache, eslint --fix --cache

feat(api): add communication mock layer based on storage
  src/api/index.js
  src/api/todos/index.js
Due: prettier --ignore-unknown --write --cache, eslint --fix --cache

feat(todo-list): add new item creation component
  src/pages/TodoList/NewItem/index.js
  src/pages/TodoList/NewItem/styled.js
Due: prettier --ignore-unknown --write --cache, eslint --fix --cache

feat(todo-list): update todo list page
  src/pages/TodoList/Item/index.js
  src/pages/TodoList/Item/styled.js
  src/pages/TodoList/index.js
  src/pages/TodoList/index.module.css
  src/pages/TodoList/styled.js
Due: prettier --ignore-unknown --write --cache, eslint --fix --cache, stylelint --fix --cache

feat(app): add clean up and callback examples
  src/App.js
Due: prettier --ignore-unknown --write --cache, eslint --fix --cache

test(app): fix app test
  src/App.test.js
Due: prettier --ignore-unknown --write --cache, eslint --fix --cache

feat(todo): add redux slice
  package-lock.json
  package.json
  src/App.js
  src/api/todos/index.js
  src/store/index.js
  src/store/reducers.js
  src/store/todo/index.js
  src/store/todo/slice.js
  src/store/todo/thunks.js
Due: prettier --ignore-unknown --write --cache, eslint --fix --cache

feat(todo-list): migrate to redux
  src/pages/TodoList/Item/index.js
  src/pages/TodoList/Item/styled.js
  src/pages/TodoList/NewItem/index.js
  src/pages/TodoList/NewItem/styled.js
  src/pages/TodoList/index.js
  src/pages/TodoList/styled.js
Due: prettier --ignore-unknown --write --cache, eslint --fix --cache

build(dependencies): add dependency to fix noisy warning
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write --cache

build(dependencies): upgrade dependencies
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write --cache

chore(assets): remove unused assets
  src/assets/cross.png
  src/assets/tick.png
Due: prettier --ignore-unknown --write --cache, imagemin-lint-staged

refactor(todo): improve naming and prepare for routing
  src/api/todo/index.js
  src/api/todos/index.js
  src/pages/Main/index.js
  src/pages/Todo/Item/index.js
  src/pages/Todo/Item/styled.js
  src/pages/Todo/NewItem/index.js
  src/pages/Todo/NewItem/styled.js
  src/pages/Todo/index.js
  src/pages/Todo/styled.js
  src/pages/TodoList/index.js
  src/store/todo/slice.js
  src/store/todo/thunks.js
Due: prettier --ignore-unknown --write --cache, eslint --fix --cache

feat(routing): add react router and basic routing
  package-lock.json
  package.json
  src/App.js
  src/pages/ErrorPage/index.js
  src/pages/Home/index.js
  src/pages/Main/index.js
  src/pages/Main/styled.js
  src/pages/Root/index.js
  src/pages/Root/styled.js
  src/pages/TodoList/index.js
  src/router/index.js
Due: prettier --ignore-unknown --write --cache, eslint --fix --cache

feat(store): add app slice
  src/store/app/index.js
  src/store/app/slice.js
  src/store/reducers.js
Due: prettier --ignore-unknown --write --cache, eslint --fix --cache

Path conditions:
  prettier --ignore-unknown --write --cache: any of: **/*
  eslint --fix --cache: any of: *.{js,jsx}
  stylelint --fix --cache: any of: *.css
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
